@tailwind base;

html {
    scroll-behavior: smooth;
}

/* Firefox */
* {
    scrollbar-width: thin;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: rgb(113 113 122);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(161 161 170);
    border-radius: 5px;
}

.post-links a {
    color: rgb(59 130 246);
}

@tailwind components;
@tailwind utilities;